<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="WebApplication1.Site1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
        <meta charset="utf-8" />
        <script src="/Scripts/jquery-1.6.4.min.js" ></script>
        <script src="/Scripts/jquery.signalR-1.1.0.js"></script>
        <script src="/signalr/hubs"></script>
          <script type="text/javascript">
              $(function () {

                  var chat = $.connection.chatHub;

                  chat.client.broadcastMessage = function (name, message) {
                      $('#discussion').append('<li><strong>' + name
                          + '</strong>:&nbsp;&nbsp;' + message + '</li>');
                  };


                  $('#displayname').val(prompt('Enter your name:', ''));
                  $('#message').focus();
                  $.connection.hub.start().done(function () {
                      $('#sendmessage').click(function () {
                          var encodedName = $('<div />').text($('#displayname').val()).html();
                          var encodedMsg = $('<div />').text($('#message').val()).html();
                          chat.server.send(encodedName, encodedMsg);
                          $('#message').val('').focus();
                      });
                  });
              });
    </script>


</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
        <ul id="discussion"></ul>
 <div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
    </div>
</body>
        

   

</html>
